* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

@font-face {
    font-family: 'Inter';
    src: url(/styles/assets/fonts/Inter-Regular.ttf);
}

@mixin button($eni, $boyi, $bgc, ) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 25px;
    gap: 10px;
    width: $eni;
    height: $boyi;
    background: $bgc;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}

@mixin box($bgc) {
    width: 304px;
    height: 190px;
    background: $bgc;
    border-radius: 12px;
    display: flex;
    margin-top: 50px;
    padding: 53px 40px;
    flex-direction: column;
    position: relative;
}
body{
    background-color: #171717;
}

.container {
    width: 1312px;
    margin: 49px 64px;
    margin: 0 auto;
}

// header section started 


header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;

        .header__title {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #FAFAF9;
        }

        .navbar {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    padding: 10px;

                    a {
                        text-decoration: none;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        color: #FAFAF9;
                    }
                }
            }
            i{
                display: none;
                color: white;
            }
        }
    }
}

// header section ended

// hero section started
section.hero {
    .container {
        .row {
            display: flex;
            justify-content: center;
            flex-direction: column;
            row-gap: 2rem;
            position: relative;
            padding: 170px 64px;
            .hero__title {
                width: 883px;
                height: 340px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 800;
                font-size: 172px;
                line-height: 170px;
                letter-spacing: -2px;
                text-transform: uppercase;
                color: #FAFAF9;
                // margin-top: 172px;
                // margin-left: 64px;
            }

            .hero__text {
                width: 560px;
                height: 48px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: rgba(239, 237, 232, 0.65);
            }

            .hero__btn {
                @include button(200px, 70px, #E6533C);
            }
            .hero__nike{
                width: 600px;
                height: 75px;
            }

            .avatar {
                position: absolute;
                width: 609px;
                height: 634px;
                right: 10px;
                top: 229px;
                align-items: center;

                .hero__btn2 {
                    @include button(206px, 96px, #303030);
                    position: absolute;
                    left: 0px;
                    top: 398px;
                    z-index: 100;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 24px;
                    /* identical to box height, or 100% */

                    letter-spacing: 0.3px;

                    /* Text 1 */

                    color: #FAFAF9;
                    flex-direction: column;

                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.5px;
                        color: rgba(239, 237, 232, 0.65);
                    }
                }

                .hero__btn3 {
                    @include button(180px, 110px, #EF8964);
                    position: absolute;
                    left: 422px;
                    top: 9px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 24px;
                    /* identical to box height, or 100% */

                    letter-spacing: 0.3px;

                    /* Text 1 */

                    color: #FAFAF9;
                    flex-direction: column;

                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.5px;
                        color: rgba(239, 237, 232, 0.65);
                    }
                }

                .hero__btn4 {
                    @include button(193px, 98px, #7A29DC);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    left: 412px;
                    top: 438px;
                    z-index: 100;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 24px;
                    /* identical to box height, or 100% */

                    letter-spacing: 0.3px;

                    /* Text 1 */

                    color: #FAFAF9;
                    flex-direction: column;

                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.5px;
                        color: rgba(239, 237, 232, 0.65);

                    }
                }

                .hero__img {
                    width: 409px;
                    height: 684px;
                    position: absolute;
                    left: 100px;
                }
            }

        }
    }
}

// hero section ended

// blok1
section.blok1{
    .container{
        .row{
            margin: 64px;
            .blok1__title{
                width: 640px;
                height: 50px; 
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 50px;         
                letter-spacing: 0.3px;         
                color: #FAFAF9;                
            }
            .blok1__text{
                width: 868px;
                height: 24px; 
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;       
                letter-spacing: 0.5px;           
                color: rgba(239, 237, 232, 0.65);   
                gap: 24px;             
            }
            .cards{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 2rem;
                .box{
                    @include box(#323443);
                    .box__title{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #FAFAF9;
                    }
                    .box__text{
                        width: 192px;
                        height: 49px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;     
                        color: rgba(239, 237, 232, 0.65);                    
                    }
                    i{
                        position: absolute;
                        top: 90px;
                        right: 20px;
                        color: #FAFAF9;
                        font-weight: 900;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

// blok1 end

// blok2

section.blok2{
    .container{
        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 64px;
            .col1{
                .blok2__title{
                    width: 526px;
                    height: 50px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 50px;       
                    color: #FAFAF9;  
                }
                .blok2__text{
                    margin: 30px 0;
                    width: 480px;
                    height: 120px;           
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;                 
                    letter-spacing: 0.3px;           
                    color: rgba(239, 237, 232, 0.65);
                }
                a{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 26px;    
                    color: #0070C9;    
                    text-decoration: none;                
                }
                i{
                    color: white;
                    font-size: 24px;
                    margin-left: 20px;
                }
            }
            .col2{
                background-image: url(/styles/assets/img/girl-laptop.png);
                width: 540px;
                height: 500px;
                gap: 50px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .col3{
                background-image: url(/styles/assets/img/girl-fitness.png);
                width: 540px;
                height: 500px;
                gap: 50px;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

// blok2 end

// membership

section.membership{
    .container{
        .row{
            padding: 64px;
            .membership__title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 50px;
                line-height: 70px;            
                letter-spacing: 0.83px;       
                color: #FAFAF9; 
                padding: 20px 0;
                border-bottom: 1px solid #eee;               
            }
            .membership-box{
                display: flex;
                align-items: center;
                justify-content: center;
                .join{
                    width: 500px;
                    height: 640px;        
                    background: #232532;
                    flex-direction: column;
                    margin: 35px;
                    .join__title{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 40px;
                        line-height: 50px;             
                        text-align: center;
                        letter-spacing: 0.3px;           
                        color: #FAFAF9; 
                        text-align: center;
                        padding: 68px 68px 34px;                   
                    }
                    .join__text{
                        width: 402px;
                        height: 96px;
                        margin: 16px 68px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;              
                        letter-spacing: 0.5px;           
                        color: rgba(239, 237, 232, 0.65);
                    }
                    ul{
                        width: 402px;
                        height: 168px;
                        margin: 16px 90px;      
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;                
                        letter-spacing: 0.5px;   
                        color: rgba(239, 237, 232, 0.65);                    
                    }
                    a{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;                  
                        letter-spacing: 0.5px;            
                        color: #0070C9;   
                        text-decoration: none;    
                        margin: 100px 68px;
                        margin-right: 10px;             
                    }
                    i{
                        color: white;
                        font-size: 24px;
                        font-weight: bold;
                    }
                    .join__club{
                        width: 150px;
                        height: 30px;            
                        background: #0070C9;
                        border-radius: 10px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;           
                        color: #FAFAF9; 
                        padding: 10px;                       
                    }
                }
            }
        }
    }
}

// membership end


//  media query started

// desktop

@media(max-width:1366px) {

    .container {
        width: 1312px;
    }
}

// desktop

// laptop
@media(max-width: 1280px) {
    .container {
        width: 91%;
    }

    section.hero .container .row .hero__title {
        width: 483px;
        height: 340px;
        font-size: 102px;
        line-height: 100px;
    }

    section.hero .container .row .hero__text {
        width: 460px;
        height: 48px;
    }

    section.hero .container .row .hero__nike {
        width: 400px;
    }

    section.hero .container .row .avatar {
        position: absolute;
        width: 609px;
        height: 634px;
        right: 10px;
        top: 125px;
    }
}

//laptop



// laptop

@media(max-width: 1024px) {
    .container{
        width: 91%;
    }
    section.hero .container{
        height: 90rem;  
    }
    section.hero .container .row{
        display: flex;
        align-items: center;
        flex-direction: column;
       
        height: 50rem;
        row-gap: 2rem;
    }
    section.hero .container .row .avatar{
        top: 700px;
        right: auto;
    }
    section.blok1 .container .row .blok1__title ,
    section.blok1 .container .row .blok1__text
    {
        text-align: center;
        width: 90%;
        
    }
    section.blok1 .container .row .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    section.blok1 .container .row .cards .box{
        gap: 10px;
        width: 90%;
        .box__title{
            font-size: 24px;
        }
        .box__text{
            font-size: 16px;
        }
    }
    section.blok2 .container .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .col1{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .blok2__text{
                width: 100%;
            }
           
        }
    }
    section.membership{
        .container{
            .row{
                .membership__title{
                    border-bottom: 90%;
                }
                .membership-box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .join{
                        width: 90%;

                         .join__text , ul{
                            margin: 16px 10%;
                            width: 90%;
                        }
                    }
                }
            }
        }
    }

}

// laptop

// tablet

@media(max-width:768px) {
    header .container .navbar ul{
        display: none;
    }
    header .container .navbar{
        i{
            display: block;
            color: white;
            font-weight: bold;
        }
    }
    section.hero .container .row .hero__title{
        font-size: 90px;
        text-align: center;
    }
    section.hero .container .row .hero__text{
        text-align: center;
    }
    section.blok1 .container .row .blok1__text{
        margin: 20px 0;
    }
    section.blok1 .container .row .blok1__title{
        font-size: 28px;
        text-align: center;
    }

    section.blok1 .container .row .cards{
        gap: 0;
        .box{
            margin-top: 20px;
            .box__title{
                font-size: 20px;
            }
        }
    }

    section.blok2 .container .row .col1 .blok2__title{
        width: 90%;
        font-size: 24px;
    }
    section.blok2 .container .row .col1 .blok2__text{
        text-align: center;
        margin: 20px auto;
    }
    section.blok2 .container .row .col1 a{
        margin-top: 70px;
    }
    section.blok2 .container .row .col1 i{
        margin-left: 0;
    }
    section.blok2 .container .row .col2{
        width: 90%;
        height: 300px;
        background-size: contain;
        
    }
    section.blok2 .container .row .col3{
        width: 90%;
        height: 420px;
        background-size: contain;
    }
    section.blok2 .container .row{
        padding: 10px 64px;
    }

    section.membership .container .row .membership__title{
        font-size: 35px;
    }
}


// tablet

//mobile
@media(max-width:560px) {
    section.membership .container .row{
        padding: 0 64px;
    }
    section.membership .container .row .membership-box .join{
        height: 460px;
    }
    section.membership .container .row .membership-box .join .join__title{
        font-size: 28px;
        padding: 10px 10px 10px;
    }
    section.membership .container .row .membership-box .join .join__text,
    section.membership .container .row .membership-box .join ul
    {
        font-size: 14px;
        width: 80%;
        text-align: center;
        list-style: none;
    }
    section.membership .container .row .membership-box .join a 
   
    {
        font-size: 14px;
        margin-left: 100px;
    }
    section.membership .container .row .membership-box .join .join__club{
        margin-left: 100px;
    }


   
    section.hero .container .row .hero__title{
        width: 90%;
        height: 100px;
        font-size: 30px;
        line-height: 3.5rem;
    }
    section.hero .container {
        height: 70rem;
    }
    section.hero .container .row {
        padding: 20px 64px;
        height: 30rem;
    }
    section.hero .container .row .hero__text{
        width: auto; 
    }
    section.hero .container .row .hero__btn{
        margin-top: 10px;
    }
    section.hero .container .row .hero__nike{
        width:300px;
    }
    section.hero .container .row .avatar{
        top: 500px;
        width: 95%;
    }
    section.hero .container .row .avatar .hero__img{
        width: 300px;
        height: 500px;
        right: auto;

    }
    section.hero .container .row .avatar .hero__btn2 {
        width: 150px;
        p{
            font-size: 14px;
        }
    }
    section.hero .container .row .avatar .hero__btn3 {
        width: 150px;
        left: 340px;
        p{
            font-size: 14px;
        }
    }
    section.hero .container .row .avatar .hero__btn4
    {
        width: 150px;
        top: 80%;
        left: 350px;
        p{
            font-size: 14px;
        }
    }
    

}

//mobile

@media(max-width:412px) {
   
    section.hero .container .row .hero__title{
        width: 200px;
        font-size: 40px;
        line-height: 3.5rem;
    }
    section.hero .container .row .hero__text{
        width: auto; 
    }
    section.hero .container .row .hero__btn{
        margin-top: 70px;
    }
    section.hero .container .row .hero__nike{
        width:300px;
        height: 400px;
    }
    section.hero .container .row .avatar{
        width: 95%;
    }
    section.hero .container .row .avatar .hero__img{
        width: 300px;
        height: 300px;
        left: auto;

    }
    section.hero .container .row .avatar .hero__btn2 {
        width: 150px;
        left: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            font-size: 12px;
        }
    }
    section.hero .container .row .avatar .hero__btn3 {
        width: 150px;
        left: 60px;
        top: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section.hero .container .row .avatar .hero__btn4
    {
        width: 150px;
        top: 100%;
        left: 60px;
        p{
            font-size: 12px;
        }
    }

}

//  media query ended